<%- include("./_variables.ejs") -%>


<div class="drawer">
    <input type="checkbox" id="drawer">
    <label for="drawer" class="drawer__toggle">
        <%- include("./_menu.svg.ejs") %>
        <%- include("./_close.svg.ejs") %>
    </label>
    <div class="drawer__contents">
        <nav class="pure-menu">
            <ul class="drawer__contents__list pure-menu-list">
                <li class="drawer__contents__item pure-menu-item"><a class="drawer__contents__link pure-menu-link" href="<%= $site.top_url %>">トップ</a></li>
                <li class="drawer__contents__item pure-menu-item"><a class="drawer__contents__link pure-menu-link" href="">武蔵剣友会について</a></li>
                <li class="drawer__contents__item pure-menu-item"><a class="drawer__contents__link pure-menu-link" href="">稽古について</a></li>
                <li class="drawer__contents__item pure-menu-item"><a class="drawer__contents__link pure-menu-link" href="">年間行事</a></li>
                <li class="drawer__contents__item pure-menu-item"><a class="drawer__contents__link pure-menu-link" href="">指導者紹介</a></li>
                <li class="drawer__contents__item pure-menu-item"><a class="drawer__contents__link pure-menu-link" href="<%= $site.top_url+$site.contact.slug+".html" %>">お問い合わせ</a></li>
            </ul>
        </nav>
        <div class="drawer__contents__bottom">
            <span class="drawer__contents__logo"><%= $site.title %></span>
            <%- include("./_tonbo.svg.ejs") %>
        </div>
    </div>
</div>
