<%- include("./ejs/_variables.ejs") -%>
<% var $pageName = $site.about.title; %>

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= $pageName+"|"+$site.title %></title>
    <%########### pure.css読み込み ################%>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css">
    <!--<![endif]-->
    <%########### pure.css読み込みここまで ################%>
    <% for (var i = 0; i < Object.keys($css.all).length; i++) { %>
        <link rel="stylesheet" href="<%=$css["all"]["num"+(i+1)] %>">
    <% } %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="./js/sal.js"></script>
</head>
<body class="about">
    <%- include("./ejs/_drawer.ejs") -%>
    <div class="contents-wrapper">
        <header class="about__hero">
            <h1 class="about__hero__title"><%= $pageName %></h1>
        </header>
        <section class="about__section about-us pure-g" id="about-us">
            <div 
                class="about-us__text pure-u pure-u-1 pure-u-md-1-2"
                data-sal="fade"
                data-sal-delay="300"
                data-sal-duration="1000"
                data-sal-easing="easeInOutCubic"
            >
                <h2 class="about__section__title">高みを目指して</h2>
                <p class="about__section__text">武蔵剣友会の団体理念など。親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から</p>
                <a class="ctl-button" href="<%= $site.top_url+$site.activity.slug+".html" %>">
                    <i></i><span>活動について</span>
                </a>
            </div>
            <div 
                class="about-us__img pure-u pure-u-1 pure-u-md-1-2"
                data-sal="fade"
                data-sal-delay="300"
                data-sal-duration="1000"
                data-sal-easing="easeInOutCubic"
            >
                <img src="./img/groupe_800x533px.jpg" alt="">
            </div>
        </section>
        <section class="about__section award" id="award">
            <div 
                data-sal="fade"
                data-sal-delay="300"
                data-sal-duration="1000"
                data-sal-easing="easeInOutCubic"
            >
                <h2 class="about__section__title">沿革</h2>
                <p class="about__section__text">武蔵剣友会の発足と歴代会長についてご紹介します。</p>
                <table class="about__section__table pure-table pure-table-horizontal">
                    <thead>
                        <tr>
                            <th>年月</th>
                            <th>できごと</th>
                        </tr>
                    </thead>
                
                    <tbody>
                        <tr>
                            <td>昭和48年9月</td>
                            <td>武蔵剣友会発足</td>
                        </tr>
                        <tr>
                            <td>同年〜</td>
                            <td>初代会長 黒坂 富蔵先生</td>
                        </tr>
                        <tr>
                            <td>昭和51年～</td>
                            <td>星 力二先生 会長就任</td>
                        </tr>
                        <tr>
                            <td>昭和68年〜</td>
                            <td>三ヶ尻 清先生 会長就任</td>
                        </tr>
                        <tr>
                            <td>平成○年〜</td>
                            <td>小川 公夫先生 会長就任</td>
                        </tr>
                        <tr>
                            <td>平成○年〜</td>
                            <td>角屋 弘先生 会長就任</td>
                        </tr>
                        <tr>
                            <td>平成○年〜</td>
                            <td>山口 秀二先生 会長就任</td>
                        </tr>
                        <tr>
                            <td>平成○年〜現在</td>
                            <td>角屋 弘先生 会長就任</td>
                        </tr>
                    </tbody>
                </table>
                <a class="ctl-button" href="<%= $site.top_url+$site.contact.slug+".html" %>">
                    <i></i><span>見学のお申込みはこちら</span>
                </a>
            </div>
        </section>
        <section class="about__section message" id="message">
            <div 
                data-sal="fade"
                data-sal-delay="300"
                data-sal-duration="1000"
                data-sal-easing="easeInOutCubic"
            >
                <h2 class="about__section__title">代表挨拶</h2>
                <div class="pure-g">
                    <div class="message__img pure-u pure-u-1 pure-u-md-1-2 pure-u-lg-14-24">
                        <img src="./img/president.jpg" alt="代表近影">
                    </div>
                    <div class="message__para pure-u pure-u-1 pure-u-md-1-2 pure-u-lg-10-24">                    
                        <span class="president-name">会長 角屋 弘</span>
                        <p class="about__section__text">会長のメッセージ。親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から</p>
                        <a class="ctl-button" href="<%= $site.top_url+$site.activity.slug+".html" %>">
                            <i></i><span>活動の詳細はこちら</span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <div class="about__inter-section">
            <%- include("./ejs/_tonbo.svg.ejs") %>
        </div>
        <section class="about__section mentor" id="mentor">
            <div 
                data-sal="fade"
                data-sal-delay="300"
                data-sal-duration="1000"
                data-sal-easing="easeInOutCubic"
            >
                <h2 class="about__section__title">指導者紹介</h2>
                <p class="about__section__text">武蔵剣友会で指導を行う先生方をご紹介します。</p>
            </div>
            <div 
                class="mentor__card pure-g"
                data-sal="fade"
                data-sal-delay="300"
                data-sal-duration="1000"
                data-sal-easing="easeInOutCubic"
                >
                <div class="mentor__card__img pure-u pure-u-1 pure-u-md-1-2 pure-u-lg-14-24">
                    <img class="mentor__card__img" src="./img/mentor_1.jpg">
                </div>
                <div class="mentor__card__para pure-u pure-u-1 pure-u-md-1-2 pure-u-lg-10-24">
                    <h3 class="mentor__card__name">山口 秀二 剣道五段</h3>
                    <span class="mentor__card__job-title">武蔵剣友会 名誉会長</span>
                    <p class="mentor__card__text">
                        社会人になってから剣道を始め、剣道歴は50年になりました。</br>
                        各大会の審判指導も行っています。
                    </p>
                </div>
            </div>
            <div 
                class="mentor__card pure-g"
                data-sal="fade"
                data-sal-delay="300"
                data-sal-duration="1000"
                data-sal-easing="easeInOutCubic"
                >
                <div class="mentor__card__img pure-u pure-u-1 pure-u-md-1-2 pure-u-lg-14-24">
                    <img class="mentor__card__img" src="./img/mentor_2.jpg" alt="角屋 弘 先生">
                </div>
                <div class="mentor__card__para pure-u pure-u-1 pure-u-md-1-2 pure-u-lg-10-24">
                    <h3 class="mentor__card__name">角屋 弘 剣道錬士六段</h3>
                    <span class="mentor__card__job-title">
                        元ふじみ野市剣道連盟会長 元東入間剣道連盟副会長 食品販売会社・FC学習塾経営 川越商工会議所評議員 武蔵剣友会会長
                    </span>
                    <p class="mentor__card__text">
                        昭和33年東京都板橋区下赤塚生まれ。小学校3年生より志村剣友会、内田市太郎先生の元で剣道を始める。結婚を機に埼玉県ふじみ野市へ、武蔵剣友会へ入会。同年より吉野英明先生（教士七段）より指導を受ける。剣道歴は50年になりました。好きな言葉は「守破離」「不動心」。
                    </p>
                </div>
            </div>
            <a class="ctl-button" href="<%= $site.top_url+$site.activity.slug+".html#practice" %>">
                <i></i><span>稽古の詳細はこちら</span>
            </a>
        </section>
        <section class="about__section info" id="info">
            <div 
                data-sal="fade"
                data-sal-delay="300"
                data-sal-duration="1000"
                data-sal-easing="easeInOutCubic"
                >
                <h2 class="about__section__title">入会について</h2>
                <p class="about__section__text">
                    武蔵剣友会の団体理念など。親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から
                </p>
                <a class="ctl-button" href="">
                    <i></i><span>会則のダウンロード（PDF）</span>
                </a>
            </div>
            <div 
            data-sal="fade"
            data-sal-delay="300"
            data-sal-duration="1000"
            data-sal-easing="easeInOutCubic"
            >
                <table class="about__section__table pure-table pure-table-horizontal">
                    <tbody>
                        <tr>
                            <th><span>入会金</span></th>
                            <td>4,000円</td>
                        </tr>
                        <tr>
                            <th><span>月謝</span></th>
                            <td>月々2,000円〜4,000円<br>段位によって規定しています</td>
                        </tr>
                        <tr>
                            <th><span>年間諸経費</span></th>
                            <td>年1,500円</td>
                        </tr>
                        <tr>
                            <th><span>その他</span></th>
                            <td>
                                <ul>
                                    <li>スポーツ保険料 年間2,000円程度</li>
                                    <li>剣道連盟登録費用 年間500円程度</li>
                                    <li>大会参加費 1大会あたり1,000円程度</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <a class="ctl-button" href="<%= $site.top_url+$site.contact.slug+".html" %>">
                <i></i><span>見学・入会のお申込み</span>
            </a>
        </section>
        <%- include("./ejs/_footer.ejs") %>
    </div>
    
</body>
</html>