<%- include("./ejs/_variables.ejs") -%>
<% var $pageName = $site.activity.title; %>

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= $pageName+"|"+$site.title %></title>
    <%########### pure.css読み込み ################%>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css">
    <!--<![endif]-->
    <%########### pure.css読み込みここまで ################%>
    <% for (var i = 0; i < Object.keys($css.all).length; i++) { %>
        <link rel="stylesheet" href="<%=$css["all"]["num"+(i+1)] %>">
    <% } %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="./js/sal.js"></script>
</head>
<body class="activity">
    <%- include("./ejs/_drawer.ejs") -%>
    <div class="contents-wrapper">
        <header class="activity__hero">
            <h1 class="activity__hero__title"><%= $pageName %></h1>
        </header>
        <section class="activity__section schedule" id="schedule">
            <div 
            data-sal="fade"
            data-sal-delay="300"
            data-sal-duration="1000"
            data-sal-easing="easeInOutCubic"
            >
                <h2 class="activity__section__title">活動スケジュール</h2>
                <div class="gledoc-wrap">
                    <iframe src="https://docs.google.com/document/d/e/2PACX-1vSPs13m54gM2Rf6hARr9-TqJF8HBFVJciprP5WZvVCxaHo6x-XdGhoGghViqEfE8_Mf_FzF5C3aqoVY/pub?embedded=true"></iframe>
                </div>
            </div>
            <div 
            class="calender-wrapper"
            data-sal="fade"
            data-sal-delay="300"
            data-sal-duration="1000"
            data-sal-easing="easeInOutCubic"
            >
                <iframe src="https://calendar.google.com/calendar/b/1/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Asia%2FTokyo&amp;src=Y290b2xpd21vLmNvbV8wb3BlMTFqaDB2dDU3NTRjbzdyazFnYjZnNEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&amp;src=amEuamFwYW5lc2UjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%23A87070&amp;color=%231F753C&amp;showTz=0&amp;showCalendars=0&amp;showPrint=0&amp;showTabs=0&amp;showNav=1&amp;showDate=1" style="border-width:0" width="800" height="650" frameborder="0" scrolling="no"></iframe>
            </div>
        </section>
        <section class="activity__section practice" id="practice">
            <div 
            data-sal="fade"
            data-sal-delay="300"
            data-sal-duration="1000"
            data-sal-easing="easeInOutCubic"
            >
                <h2 class="activity__section__title">稽古について</h2>
                <p class="activity__section__text">
                    ※学校行事等で体育館が使用出来ない場合は他の施設へ変更、または休みになる場合も有ります。都度、ホームページ上でご案内いたします。
                </p>
            </div>
            <div 
            class="buttons pure-g"
            data-sal="fade"
            data-sal-delay="300"
            data-sal-duration="1000"
            data-sal-easing="easeInOutCubic"
            >
                <div class="buttons__button pure-u pure-u-1 pure-u-sm-1-2">
                    <a class="ctl-button" href="<%= $site.top_url+$site.contact.slug+".html" %>">
                        <i></i><span>見学のお申込み</span>
                    </a>
                </div>
                <div class="buttons__button pure-u pure-u-1 pure-u-sm-1-2">
                    <a class="ctl-button" href="<%= $site.top_url+$site.about.slug+".html#mentor" %>">
                        <i></i><span>指導者紹介</span>
                    </a>
                </div>
            </div>
            <table class="about__section__table pure-table pure-table-horizontal">
                <tbody>
                    <tr>
                        <th><span>日時</span></th>
                        <td>毎週金曜日 19：00～21：00</br>
                            毎週日曜日 9：00～12：00</td>
                    </tr>
                    <tr>
                        <th><span>場所</span></th>
                        <td>金曜日：ふじみ野市立鶴が丘小学校 体育館</br>
                            日曜日：ふじみ野市立西小学校 体育館
                        </td>
                    </tr>
                    <tr>
                        <th><span>主な稽古内容</span></th>
                        <td>剣道の基本稽古<br>
                            切り返し 基本打ち（面、小手面） かかり稽古など
                        </td>
                    </tr>
                    <tr>
                        <th><span>稽古の持ち物</span></th>
                        <td>竹刀・稽古着<br>
                            剣道着が無い場合、動きやすい服装（スポーツウェア等）でも可<br>
                            ※見学・体験の方は持ち物は不要です
                        </td>
                    </tr>
                    <tr>
                        <th><span>段位審査について</span></th>
                        <td>
                            小学生から大人まで段位審査の常時サポートを行っています。
                        </td>
                    </tr>
                    <tr>
                        <th><span>見学・体験について</span></th>
                        <td>
                            稽古の見学・体験は常時受け付けています。<br>
                            必要なものは特に有りません。体験の場合も、動きやすい服装であれば可。<br>
                            防具に関しても体験では着用の必要はありません。
                        </td>
                    </tr>
                </tbody>
            </table>

        </section>
        <div class="activity__inter-section">
            <%- include("./ejs/_tonbo.svg.ejs") %>
        </div>
        <section class="activity__section access" id="access">
            <div 
            data-sal="fade"
            data-sal-delay="300"
            data-sal-duration="1000"
            data-sal-easing="easeInOutCubic"
            >
                <h2 class="activity__section__title">稽古場所</h2>
                <p class="activity__section__text">基本的に週2回金曜日の夜（ふじみ野市立鶴が丘小学校）と日曜日の昼（ふじみ野市立西小学校）で稽古を行っています。ご都合に合わせてご参加下さい。</p>
                <a class="ctl-button" href="<%= $site.top_url+$site.contact.slug+".html" %>">
                    <i></i><span>お問い合わせ</span>
                </a>
            </div>
            <div 
            class="activity__section__school pure-g"
            data-sal="fade"
            data-sal-delay="300"
            data-sal-duration="1000"
            data-sal-easing="easeInOutCubic"
            >
                <div class="activity__section__school__img pure-u pure-u-1 pure-u-md-1-2 pure-u-lg-14-24">
                    <img src="./img/nishi-primary-school.jpg" alt="ふじみ野市立 西小学校">
                </div>
                <div class="activity__section__school__desc pure-u pure-u-1 pure-u-md-1-2 pure-u-lg-10-24">
                    <h3 class="activity__section__school__title">ふじみ野市立 西小学校</h3>
                    <p>稽古日：毎週日曜日</p>        
                    <p>〒356-0005<br>埼玉県ふじみ野市西2-10-25</p>
                    <div class="buttons pure-g">
                        <div class="buttons__button pure-u pure-u-1 pure-u-sm-1-2 pure-u-md-1">
                            <a class="ctl-button" rel="nofollow" target="_blank" href="https://goo.gl/maps/57V95tJbk7JYdyAN6">
                                <i></i><span>場所をGoogleマップで開く</span>
                            </a>
                        </div>
                        <div class="buttons__button pure-u pure-u-1 pure-u-sm-1-2 pure-u-md-1">
                            <a class="ctl-button" rel="nofollow" target="_blank" href="http://www.fujimino.ed.jp/n/index.html">
                                <i></i><span>西小学校HPはこちら</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div 
            class="activity__section__school pure-g"
            data-sal="fade"
            data-sal-delay="300"
            data-sal-duration="1000"
            data-sal-easing="easeInOutCubic"
            >
                <div class="activity__section__school__img pure-u pure-u-1 pure-u-md-1-2 pure-u-lg-14-24">
                    <img src="./img/tsurugaoka-primary-school.jpg" alt="ふじみ野市立 鶴ヶ丘小学校">
                </div>
                <div class="activity__section__school__desc pure-u pure-u-1 pure-u-md-1-2 pure-u-lg-10-24">
                    <h3 class="activity__section__school__title">ふじみ野市立 鶴ヶ丘小学校</h3>
                    <p>稽古日：毎週金曜日</p>
                    <p>〒356-0045<br>埼玉県ふじみ野市鶴ヶ岡1-3-1</p>
                    <div class="buttons pure-g">
                        <div class="buttons__button pure-u pure-u-1 pure-u-sm-1-2 pure-u-md-1">
                            <a class="ctl-button" rel="nofollow" target="_blank" href="https://goo.gl/maps/s8Vs8EkH6N51eav79">
                                <i></i><span>場所をGoogleマップで開く</span>
                            </a>
                        </div>
                        <div class="buttons__button pure-u pure-u-1 pure-u-sm-1-2 pure-u-md-1">
                            <a class="ctl-button" rel="nofollow" target="_blank" href="http://www.fujimino.ed.jp/turu/index.html">
                                <i></i><span>鶴ヶ丘小学校HPはこちら</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="activity__section event" id="event">
            <div 
                data-sal="fade"
                data-sal-delay="300"
                data-sal-duration="1000"
                data-sal-easing="easeInOutCubic"
            >
                <h2 class="activity__section__title">年間行事</h2>
                <p class="activity__section__text">会員のお子様に保護者様を交えての懇親会を年2回ほど開催し、会員同士の交流の場としています。</p>
                <a class="ctl-button" href="<%= $site.top_url+$site.contact.slug+".html" %>">
                    <i></i><span>お問い合わせ</span>
                </a>
            </div>
        </section>
        <%- include("./ejs/_footer.ejs") %>
    </div>
</body>
</html>