<%- include("./ejs/_variables.ejs") -%>

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= $site.title %></title>

    <%########### pure.css読み込み ################%>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css">
    <!--<![endif]-->
    <%########### pure.css読み込みここまで ################%>
    <% for (var i = 0; i < Object.keys($css.all).length; i++) { %>
        <link rel="stylesheet" href="<%=$css["all"]["num"+(i+1)] %>">
    <% } %>
</head>
<body>
    <%- include("./ejs/_drawer.ejs") -%>
    <div class="contents-wrapper">
        <header class="hero">
            <h1 class="hero__logo"><%= $site.title %></h1>
            <p class="hero__text">親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から</p>
        </header>
        <section class="top-section intro-about">
            <%- include("./ejs/_tonbo.svg.ejs") %>
            <h2 class="top-section__title">技を磨き　志を高く</h2>
            <p class="top-section__text">親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から</p>
            <a class="ctl-button" href="<%= $site.top_url+$site.about.slug+".html" %>">
                <i></i><span>武蔵剣友会について</span>
            </a>
        </section>
        <div class="inter-section">
            <img class="rellax" data-rellax-speed="-1" data-rellax-percentage="0.3" src="./img/稽古風景1.JPG" alt="稽古風景">
        </div>
        <section class="top-section intro-keiko">
            <h2 class="top-section__title">子供から大人まで</h2>
            <p class="top-section__text">親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から</p>
            <div class="buttons pure-g">
                <div class="buttons__button pure-u pure-u-1 pure-u-sm-1-2">
                    <a class="ctl-button" href="<%= $site.top_url+$site.activity.slug+".html#practice" %>">
                        <i></i><span>稽古について</span>
                    </a>
                </div>
                <div class="buttons__button pure-u pure-u-1 pure-u-sm-1-2">
                    <a class="ctl-button" href="<%= $site.top_url+$site.about.slug+".html#mentor" %>">
                        <i></i><span>指導者紹介</span>
                    </a>
                </div>
            </div>
        </section>
        <div class="inter-section">
            <img class="rellax" data-rellax-speed="-1" data-rellax-percentage="0.3" 
                src="./img/keiko2_1440.jpg"
                srcset="./img/keiko2_568.jpg 568w,
                        ./img/keiko2_1024.jpg 1024w,
                        ./img/keiko2_1440.jpg 1440w,
                        ./img/keiko2_1920.jpg 1920w"
                alt="稽古風景">
        </div>
        <section class="top-section intro-events">
            <h2 class="top-section__title">仲間と楽しく</h2>
            <p class="top-section__text">親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から</p>
            <a class="ctl-button" href="<%= $site.top_url+$site.activity.slug+".html#event" %>">
                <i></i><span>年間行事について</span>
            </a>
        </section>
        <div class="inter-section">
            <img class="rellax" data-rellax-speed="-1" data-rellax-percentage="0.35" src="./img/稽古風景3.JPG" alt="稽古風景">
        </div>
        <section class="top-section intro-events">
            <h2 class="top-section__title">随時見学できます</h2>
            <p class="top-section__text">親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から</p>
            <a class="ctl-button" href="<%= $site.top_url+$site.contact.slug+".html" %>">
                <i></i><span>お問い合わせはこちら</span>
            </a>
        </section>
        <%- include("./ejs/_footer.ejs") %>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.9.1/rellax.min.js"></script>
    <script>
        var rellax = new Rellax('.rellax');
    </script>
</body>
</html>