<%- include("./ejs/_variables.ejs") -%>

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= $site.title %></title>

    <%########### pure.css読み込み ################%>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css">
    <!--<![endif]-->
    <%########### pure.css読み込みここまで ################%>
    <% for (var i = 0; i < Object.keys($css.all).length; i++) { %>
        <link rel="stylesheet" href="<%=$css["all"]["num"+(i+1)] %>">
    <% } %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="./js/sal.js"></script>
</head>
<body>
    <%- include("./ejs/_drawer.ejs") -%>
    <div class="contents-wrapper">
        <header class="hero">
            <h1 class="hero__logo"><%= $site.title %></h1>
            <i class="hero__scroll material-icons">arrow_downward</i>
        </header>
        <section class="top-section intro-about">
            <div 
                data-sal="fade"
                data-sal-delay="300"
                data-sal-duration="1000"
                data-sal-easing="easeInOutCubic"
            >
                <%- include("./ejs/_tonbo.svg.ejs") %>
                <h2 class="top-section__title">子供から大人まで</h2>
                <p class="top-section__text">
                    未経験者大歓迎　もちろん経験者も
                </p>
                <a class="ctl-button" href="<%= $site.top_url+$site.about.slug+".html" %>">
                    <i></i><span>武蔵剣友会について</span>
                </a>
            </div> 
        </section>
        <div class="inter-section">
            <picture>
                <img
                class="rellax"
                data-rellax-speed="-1" 
                data-rellax-percentage="0.7" 
                srcset="
                ./img/keiko1_csguyz_c_scale,w_330.jpg 330w,
                ./img/keiko1_csguyz_c_scale,w_462.jpg 462w,
                ./img/keiko1_csguyz_c_scale,w_577.jpg 577w,
                ./img/keiko1_csguyz_c_scale,w_680.jpg 680w,
                ./img/keiko1_csguyz_c_scale,w_775.jpg 775w,
                ./img/keiko1_csguyz_c_scale,w_863.jpg 863w,
                ./img/keiko1_csguyz_c_scale,w_947.jpg 947w,
                ./img/keiko1_csguyz_c_scale,w_1023.jpg 1023w,
                ./img/keiko1_csguyz_c_scale,w_1098.jpg 1098w,
                ./img/keiko1_csguyz_c_scale,w_1170.jpg 1170w,
                ./img/keiko1_csguyz_c_scale,w_1241.jpg 1241w,
                ./img/keiko1_csguyz_c_scale,w_1267.jpg 1267w,
                ./img/keiko1_csguyz_c_scale,w_1920.jpg 1920w"
                src="./img/keiko1_csguyz_c_scale,w_1920.jpg"
                alt="">
                </picture>
        </div>
        <section class="top-section intro-keiko">
            <div 
                data-sal="fade"
                data-sal-delay="300"
                data-sal-duration="1000"
                data-sal-easing="easeInOutCubic"
            >
                <h2 class="top-section__title">剣道の理念</h2>
                <p class="top-section__text">
                    剣道は剣の理法の修錬による人間形成の道である
                </p>
                <p class="top-section__text">
                    剣道修錬の心構え剣道を正しく真剣に学び心身を錬磨して旺盛なる気力を養い
                </p>
                <p class="top-section__text">
                    剣道の特性を通じて礼節をとうとび信義を重んじ誠を尽して常に自己の修養に努め
                </p>
                <p class="top-section__text">
                    以って国家社会を愛して広く人類の平和繁栄に寄与せんとするものである
                </p>
                <span class="top-section__text__quate">― 昭和50年3月20日制定　全日本剣道連盟</span>
                <div class="buttons pure-g">
                    <div class="buttons__button pure-u pure-u-1 pure-u-sm-1-2">
                        <a class="ctl-button" href="<%= $site.top_url+$site.activity.slug+".html#practice" %>">
                            <i></i><span>稽古について</span>
                        </a>
                    </div>
                    <div class="buttons__button pure-u pure-u-1 pure-u-sm-1-2">
                        <a class="ctl-button" href="<%= $site.top_url+$site.about.slug+".html#mentor" %>">
                            <i></i><span>指導者紹介</span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <div class="inter-section">
                <picture>
                    <img class="rellax" 
                    data-rellax-speed="-1"
                    data-rellax-percentage="0.7" 
                    srcset="
                    ./img/keiko2_molayu_c_scale,w_330.jpg 330w,
                    ./img/keiko2_molayu_c_scale,w_453.jpg 453w,
                    ./img/keiko2_molayu_c_scale,w_559.jpg 559w,
                    ./img/keiko2_molayu_c_scale,w_653.jpg 653w,
                    ./img/keiko2_molayu_c_scale,w_739.jpg 739w,
                    ./img/keiko2_molayu_c_scale,w_820.jpg 820w,
                    ./img/keiko2_molayu_c_scale,w_898.jpg 898w,
                    ./img/keiko2_molayu_c_scale,w_974.jpg 974w,
                    ./img/keiko2_molayu_c_scale,w_1046.jpg 1046w,
                    ./img/keiko2_molayu_c_scale,w_1113.jpg 1113w,
                    ./img/keiko2_molayu_c_scale,w_1184.jpg 1184w,
                    ./img/keiko2_molayu_c_scale,w_1259.jpg 1259w,
                    ./img/keiko2_molayu_c_scale,w_1920.jpg 1920w"
                    src="./img/keiko2_molayu_c_scale,w_1920.jpg"
                    alt="">
                </picture>
        </div>
        <section class="top-section intro-events">
            <div 
                data-sal="fade"
                data-sal-delay="300"
                data-sal-duration="1000"
                data-sal-easing="easeInOutCubic"
            >
                <h2 class="top-section__title">生涯剣道</h2>
                <p class="top-section__text">
                    ともに剣道を学び、安全・健康に留意しつつ、生涯にわたる人間形成の道を見出す指導に努める。
                </p>
                <p class="top-section__text">
                    剣道は、世代を超えて学び合う道である。「技」を通じて「道」を求め、社会の活力を高めながら、豊かな生命観を育み、文化としての剣道を実践していくことを指導の目標とする。
                </p>
                <span class="top-section__text__quate">― 平成19年3月14日制定　全日本剣道連盟</span>
                <a class="ctl-button" href="<%= $site.top_url+$site.activity.slug+".html#event" %>">
                    <i></i><span>年間行事について</span>
                </a>
            </div>
        </section>
        <div class="inter-section">
            <picture>
                <img class="rellax" 
                data-rellax-speed="-1" 
                data-rellax-percentage="0.6" 
                srcset="
                ./img/keiko3_goolc2_c_scale,w_330.jpg 330w,
                ./img/keiko3_goolc2_c_scale,w_440.jpg 440w,
                ./img/keiko3_goolc2_c_scale,w_534.jpg 534w,
                ./img/keiko3_goolc2_c_scale,w_622.jpg 622w,
                ./img/keiko3_goolc2_c_scale,w_695.jpg 695w,
                ./img/keiko3_goolc2_c_scale,w_764.jpg 764w,
                ./img/keiko3_goolc2_c_scale,w_831.jpg 831w,
                ./img/keiko3_goolc2_c_scale,w_894.jpg 894w,
                ./img/keiko3_goolc2_c_scale,w_957.jpg 957w,
                ./img/keiko3_goolc2_c_scale,w_1015.jpg 1015w,
                ./img/keiko3_goolc2_c_scale,w_1074.jpg 1074w,
                ./img/keiko3_goolc2_c_scale,w_1127.jpg 1127w,
                ./img/keiko3_goolc2_c_scale,w_1181.jpg 1181w,
                ./img/keiko3_goolc2_c_scale,w_1245.jpg 1245w,
                ./img/keiko3_goolc2_c_scale,w_1920.jpg 1920w"
                src="./img/keiko3_goolc2_c_scale,w_1920.jpg"
                alt="">
            </picture>
        </div>
        <section class="top-section intro-events">
            <div 
                data-sal="fade"
                data-sal-delay="300"
                data-sal-duration="1000"
                data-sal-easing="easeInOutCubic"
            >
                <h2 class="top-section__title">随時見学できます</h2>
                <p class="top-section__text">
                    初めて剣道に興味を持った方。以前に剣道の経験があるが、また始めてみたい方。まずはどんな競技なのか見てみたい方。
                </p>
                <p class="top-section__text">
                    武蔵剣友会は、どなた様の見学も大歓迎です。ぜひお気軽にお越しください。
                </p>
                <a class="ctl-button" href="<%= $site.top_url+$site.contact.slug+".html" %>">
                    <i></i><span>お問い合わせはこちら</span>
                </a>
            </div>
        </section>
        <%- include("./ejs/_footer.ejs") %>
    </div>
</body>
</html>